* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-brands {font-size: 1em; margin: auto}

.fa-solid {font-size: 1em; margin: auto}

.fa-circle-question {font-size: 1.5em; color: white; vertical-align: middle;} 

.fa-user {font-size: 1.5em; color: white; vertical-align: middle;} 

a:link {
    color:black;
    text-decoration: none;
  }
  
/*a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }*/
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.header-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 45px 25px;
    width: 95%;
    max-width: 1300px;
    margin: auto;
    gap: 0px;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
} 

.campus {
    grid-column: 2/11;
    grid-row: 1/2;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Lavishly Yours', cursive;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    background-color: darkblue;
    color: whitesmoke;
}

.ayuda {
    grid-column: 11/12;
    grid-row: 1/2;
    text-align: center;
    font-size: 1em;
    background-color: darkblue;
} 

.cuenta {
    grid-column: 12/13;
    grid-row: 1/2;
    text-align: center;
    background-color: darkblue;
} 

.menu-mat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 1/13;
    grid-row: 2/3;
    background-color:dodgerblue;
} 

.menu-mat-item {
    
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 700px;
    width: 95%;
    max-width: 1300px;
    margin: auto;
    margin-top: 5px;
    gap: 5px;
}



.menu-herram {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    grid-column: 1/2;
    grid-row: 1/10;
    background-color: orange;
    color: white;
} 

.menu-herram-item {
    background-color: blue;
}

.materia1 {
    grid-column: 2/5;
    grid-row: 1/4;
    background-color: orange;
    color: black;
} 

.materia2 {
    grid-column: 5/8;
    grid-row: 1/4;
    background-color: orange;
    color: black;
} 

.materia3 {
    grid-column: 8/11;
    grid-row: 1/4;
    background-color: orange;
    color: black;
} 

.materia4 {
    grid-column: 2/5;
    grid-row: 4/7;
    background-color: orange;
    color: black;
} 

.materia5 {
    grid-column: 5/8;
    grid-row: 4/7;
    background-color: orange;
    color: black;
} 

.materia6 {
    grid-column: 8/11;
    grid-row: 4/7;
    background-color: orange;
    color: black;
} 

.materia7 {
    grid-column: 2/5;
    grid-row: 7/10;
    background-color: orange;
    color: black;
} 

.materia8 {
    grid-column: 5/8;
    grid-row: 7/10;
    background-color: orange;
    color: black;
} 

.materia9 {
    grid-column: 8/11;
    grid-row: 7/10;
    background-color: orange;
    color: black;
} 

.novedades {
    grid-column: 11/13;
    grid-row: 1/10;
    background-color: cornflowerblue;
}


@media only screen and (max-width: 400px) {
    .header-grid { height: 50px;}
    .menu-mat {display: none;} 
    .novedades {display: none;}
    .menu-herram {display: none;}
    .materia1 {grid-column: 1/13;
               grid-row: 1/5;}
    .materia2 {grid-column: 1/13;
                grid-row: 5/9;}
    .materia3 {grid-column: 1/13;
               grid-row: 9/13;}
    .materia4 {grid-column: 1/13;
               grid-row: 13/17;}
    .materia5 {grid-column: 1/13;
               grid-row: 17/21;}
    .materia6 {grid-column: 1/13;
               grid-row: 21/25;}
    .materia7 {grid-column: 1/13;
               grid-row: 25/29;}
    .materia8 {grid-column: 1/13;
               grid-row: 29/33;}
    .materia9 {grid-column: 1/13;
               grid-row: 33/37;}
    .novedades {display: none;}
    .menu-herram-horiz {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .header-grid { height: 50px;}
    .menu-mat {display: none;} 
    .menu-herram {display: none;}
    .materia1 {grid-column: 1/8;
               grid-row: 1/5;}
    .materia2 {grid-column: 1/8;
                grid-row: 5/9;}
    .materia3 {grid-column: 1/8;
               grid-row: 9/13;}
    .materia4 {grid-column: 1/8;
               grid-row: 13/17;}
    .materia5 {grid-column: 1/8;
               grid-row: 17/21;}
    .materia6 {grid-column: 1/8;
               grid-row: 21/25;}
    .materia7 {grid-column: 1/8;
               grid-row: 25/29;}
    .materia8 {grid-column: 1/8;
               grid-row: 29/33;}
    .materia9 {grid-column: 1/8;
               grid-row: 33/37;}
    .novedades {grid-column: 8/13;
                grid-row: 1/37;}
    .menu-herram-horiz {display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                       }
    }

    @media only screen and (min-width: 768px) and (max-width: 1000px) {
        .menu-herram {display: none;}
        .menu-herram-horiz {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    @media only screen and (min-width: 1000px) {
        .menu-herram-horiz {display: none};
    }

    